.contacts-footer {
    padding: 0px 163px;
    margin: 9px auto 0px;

    @media screen and(min-width:768px) {
      padding: 0px;
    }
  
    & a {
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--address-secondary-color);
      }

    & li:last-child {
        margin-top: 9px;
      }
  }

.footer-contacts{
    justify-content: center;
    text-align: center;

  @media screen and (min-width:768px) {
    justify-content: left;
  }

  @media screen and (min-width:1200px) {
      justify-content:left;
      text-align: left;
  }
  }


  